

<!-- CARTELERA -->
<ul id='dropdown-cartelera' class='dropdown-content'>
  <li><a href="#!">Todas Peliculas</a></li>
  <li><a href="#!">Últimos Estrenos</a></li>
  <li><a href="#!">Populares</a></li>
</ul>

<nav>
  <div class="container nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><img style="vertical-align:middle" class="responsive-img" src="assets\images\rakuten_logo.png"></li>
      <li><a class='dropdown-trigger btn' href='#' data-target='dropdown-cartelera'>Cartelera</a></li>
      <li><a class="waves-effect waves-light" href="#">{{favoritos}}</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Conectarse</a></li>
      <li><a class="btn" href="#">Registrarse</a></li>
    </ul>
  </div>
</nav>